<section>
  <strong>Complete sua coleta</strong>
  <div class="schedule-container">
    <div class="header">
      <mat-icon fontSet="material-icons-outlined">pin_drop</mat-icon>
      <div>
        <p>Endereço de Coleta</p>
        <p>Informe o endereço onde deseja a retirada do seu lixo</p>
      </div>
    </div>
    <form [formGroup]="scheduleForm">
      <input
        [formControl]="scheduleForm.controls['cep']"
        type="text"
        placeholder="CEP"
      />
      <input
        [formControl]="scheduleForm.controls['address']"
        type="text"
        placeholder="Rua"
      />
      <div class="two-inputs">
        <input
          [formControl]="scheduleForm.controls['number']"
          type="text"
          placeholder="Número"
        />
        <input
          [formControl]="scheduleForm.controls['complement']"
          type="text"
          placeholder="Complemento"
        />
      </div>
      <div class="tree-inputs">
        <input
          [formControl]="scheduleForm.controls['neighborhood']"
          type="text"
          placeholder="Bairro"
        />
        <input
          [formControl]="scheduleForm.controls['city']"
          type="text"
          placeholder="Cidade"
        />
        <input
          [formControl]="scheduleForm.controls['state']"
          type="text"
          placeholder="UF"
        />
      </div>
    </form>
  </div>
  <button
    [disabled]="buttonDisabled"
    [attr.data-disabled]="buttonDisabled"
    (click)="onClick()"
  >
    CONFIRMAR COLETA
  </button>
</section>
