<section>
  <div class="recycle-info">
    <div class="title">
      <h1>Encontre o descarete para qualquer hora do dia</h1>
      <p>
        Com a RecycleTech, você encontra um fim para o seu lixo eletrônico onde
        estiver
      </p>
    </div>
    <div class="icons-info">
      <div class="icon-info">
        <div
          class="icon"
          style="background-color: var(--color-base-yellow-dark)"
        >
          <mat-icon>recycling</mat-icon>
        </div>
        Descarte do lixo eletrônico
      </div>
      <div class="icon-info">
        <div class="icon" style="background-color: var(--color-base-text)">
          <mat-icon>verified_user</mat-icon>
        </div>
        Segurança no envio
      </div>
      <div class="icon-info">
        <div class="icon" style="background-color: var(--color-base-yellow)">
          <mat-icon>timer-fill</mat-icon>
        </div>
        Envio rápido
      </div>
    </div>
  </div>
  <div class="image-home">
    <img src="../../../assets/home-image.png" alt="" />
  </div>
</section>
<section class="recycles-list">
  <h2>Nossos coletores</h2>
  <div class="recycles-cards">
    <app-recycle-card
      *ngFor="let collector of collectors"
      [name]="collector.name"
      [distance]="collector.distance"
      [imageUrl]="collector.imgUrl"
    />
  </div>
</section>
