:root {
  --color-base-gray1: #121214;
  --color-base-gray2: #202024;
  --color-base-gray5: #7c7c8a;
  --color-base-gray6: #c4c4cc;
  --color-base-text: #574f4d;
  --color-base-yellow: #dbac2c;
  --color-base-yellow-dark: #c47f17;
  --color-product-green-light: #00b37e;
  --color-product-green-dark: #00875F;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: inherit;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-base-gray1);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
